/* Establecemos una fuente por defecto si 'Roboto' no está disponible */
body {
    background-color: black;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Mejoramos la legibilidad de las etiquetas */
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold; /* Añadimos un poco de peso a la fuente */
}

/* Estilo de los campos de entrada */
input, select {
    border: 1px solid #fff;
    border-radius: 0.25rem;
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    background-color: transparent; /* Hacemos que el fondo sea transparente */
    color: #fff; /* Cambiamos el color del texto para mejorar la visibilidad */
}

/* Estilo de los mensajes de error */
span {
    margin: 0.5rem 0 1rem 0;
    color: black;
    font-size: 0.75rem;
    display: block;
    background-color: #ffcccc;
    padding: 0.5rem;
    border-radius: 0.25rem;
}



/* Añadimos un efecto de transición a los campos de entrada */
input, select {
    transition: border-color 0.3s;
}

/* Efecto al pasar el ratón sobre los campos de entrada */
input:hover, select:hover {
    border-color: #ccc;
}

/* Efecto al enfocar los campos de entrada */
input:focus, select:focus {
    outline: none; /* Quitamos el contorno predeterminado del foco */
    border-color: #007bff; /* Cambiamos el color del borde al enfocar */
}
